.form{
    display: flex;
    align-items: center;
    width: 100%;

    .input{
        border: 0;
        width: 90%;
        padding: 12px 12px;
        border-radius: 8px 0px 0px 8px;
    }

    .button{
        background-color: white;
        width: 10%;
        border: 0;
        border-radius: 0px 8px 8px 0px;
        padding: 12px 24px;
        color: black;
        font-weight: bold;

        @media (max-width: 600px) {
            & {
                width: 30%;
            }
          }
    }

    
}